.search-results-container {
    display: grid;
    /* grid-auto-flow: column;
    grid-auto-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(130px, 2fr));

    width: 100%;
    grid-gap: 10px;
    padding: 1rem;
    
    /* background-color: aquamarine; */
    overflow: scroll;
}

.search-result {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: bisque; */
    /* width: clamp(123px, 25vw, 184px); */
    /* min-width: 123;
    max-width: 200px; */
}

.search-result > img {
    width: 100%;
    aspect-ratio: 3/4;
}